.header {
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  border-bottom: 1px solid rgba(84,84,84,0.7);
  margin-bottom: 41px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 380px) {
  .header {
    margin-bottom: 32px;
  }
}






